@import url("https://use.typekit.net/xgi8mni.css");

@mixin mobley-serif {
  font-family: mobley-serif, serif;
  font-weight: 400;
  font-style: normal;
}

@mixin prometo($weight: 200) {
  font-family: prometo, sans-serif;
  font-weight: $weight;
  font-style: normal;
  //   font-weight: 200;
  //   font-weight: 300;
  //   font-weight: 400;
  //   font-weight: 500;
  //   font-weight: 700;
  //   font-style: italic;
}

body {
  @include prometo;
}

nav {
  // @include mobley-serif;
  font-size: 1.25rem;
}

h1 {
  font-family: mobley-serif, serif;
  font-size: 4rem;
  line-height: 1;

  a {
    @include mobley-serif;
  }
}

.hero--split h1 {
  font-size: 3.5rem;

  @media (min-width: 900px) {
    font-size: 4rem;
  }
}

h2 {
  @include prometo(400);
}

h3 {
  // font-weight: 400;

  a {
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.25rem;
    transition: all 0.3s ease;

    &:hover {
      text-decoration-thickness: 0.1rem;
      transition: all 0.3s ease;
    }
  }
}

.px-3 h3 {
  text-decoration: none;
  text-decoration-thickness: 0;
  text-decoration-color: transparent;
}

h4 {
  // font-size: 1.25rem;
  // font-weight: 400;
}

h5 {
  font-size: 0.875rem;
  font-weight: 300;
}

p {
  padding-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.375;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 0.125rem;
  transition: all 0.3s ease;

  &:hover {
    color: #0088ff;
    text-decoration-color: #0088ff;
    text-decoration-thickness: 0.05rem;
    transition: all 0.3s ease;
  }
}

.italics {
  font-style: italic;
}

nav {
  a {
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.25rem;
    transition: all 0.3s ease;

    &:hover {
      text-decoration-thickness: 0.05rem;
      transition: all 0.3s ease;
    }
  }
}

.more-stories .post {
  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.25rem;
    transition: all 0.3s ease;

    &:hover {
      text-decoration-color: #0088ff;
      transition: all 0.3s ease;
    }
  }
}
