@import "mixins";
@import "typography";
@import "homepage";
@import "posts";

:root {
  --responsive-height: calc(100vh - 1vw * 10);
}

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #0b1d26;
}

.container {
  max-width: none;
}

header {
  color: white;
  
  line-height: 1.25;
  
  a {
    text-decoration: none;

    &:hover {
      color: #83fce7;
      text-decoration-color: #83fce7;
    }
  }

  .cats {
    left: -2rem
  }

  .NavigationMenuList {
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }

  .NavigationMenuItem {
    a {
      text-decoration: underline;

      .text-sm {
        text-decoration: none;
      }
    }
  }

  .NavigationMenuContent {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 10px var(--black-a7);
    z-index: 2;

    a {
      color: black;

      &:hover {
        color: black;
        text-decoration-color: black;
        cursor: pointer;
      }
    }

    ul {
      // width: 25rem;

      a.flex {
        background-color: tomato;
      }

      div.flex {
        background-color: deepskyblue;
      }
    }

    .nysee-radar {
      a.flex {
        background-color: tomato;
      }

      div.flex {
        background-color: tomato;
      }
    }
  }

  h2 {
    font-family: mobley-serif, serif;
    font-size: 2rem;
    line-height: 1;
  }
}

.nysee-nav {
  .flex {
    position: relative;
  }
}