.post {
  a {
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.25rem;
  }

  &__image {
    &--cover {
      width: 100%;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        padding-bottom: 125%; // 4:5 aspect ratio (4/5 = 0.8, 0.8 * 100 = 80%)
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: min(2rem, 3vw);
      }
    }
  }

  &__meta {
    padding-bottom: 0.625rem;
    font-weight: 200;
  }

  &__date {
    padding-bottom: 0.625rem;
    font-weight: 200;
  }

  &__title {
    &--preview {
      padding-bottom: 0.25rem;
      font-size: 1.75rem;
      line-height: 1.25;
    }
  }

  &__excerpt {
    p {
      padding-bottom: 0.5rem;
    }
  }

  &--preview {
    .post__image--cover {
      width: 100%;
      height: auto;

      img {
        border-radius: min(2rem, 3vw);
      }
    }
  }

  figure + h3 {
    margin-top: 0.5rem;
  }

  figure.wp-block-image,
  figure.wp-block-video {
    padding-bottom: 0.9375rem;
  }
}

.hero {
  &--split {
    position: relative;
    display: grid;
    grid-template-columns: 5fr 7fr;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
    padding: 2rem;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    h1 {
      // font-size: 2.5rem;
      padding-bottom: 0.75rem;
    }

    .hero__copy {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 0 auto; // Center horizontally

      &::before,
      &::after {
        content: "";
        display: block;
        height: 0;
        position: absolute;
        left: 0;
        right: 0;
      }

      &::before {
        top: 0;
        height: 33%;
      }

      &::after {
        bottom: 0;
        height: 67%;
      }

      &__inner {
        position: absolute;
        top: 33%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }

    .post__image {
      &--cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 80vh; // Set max-height to 80vh
        overflow: hidden;
        border-radius: min(2rem, 3vw);

        img {
          width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: cover;
          object-position: center; // Center the image
          aspect-ratio: 4 / 5;
        }
      }
    }
  }

  &--post {
    .post__image--cover {
      img {
        border-radius: 0;
      }
    }
  }
}

.min-h-screen {
  min-height: 100vh;
}

article {
  a {
    color: #005ee9;
  }
  .min-h-screen {
    min-height: 555px;
  }
}

.youtube-embed {
  position: relative;
  padding-bottom: 56.25%; // 16:9 aspect ratio (9/16 = 0.5625, 0.5625 * 100 = 56.25%)
  height: 0;
  overflow: hidden;
  margin-bottom: 2rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post .gradient-nysee {
  background-color: #652487;
  background: linear-gradient(
    160deg,
    #001c2e,
    #004d5b,
    #005555,
    #007766,
    #199288
  );
}
