.homepage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #143f9f;
  color: #8affe8;

  a {
    color: #8affe8;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: white;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    &.link-colored {
      color: #00f3ff;
      text-decoration-color: #00f3ff;
      text-decoration-thickness: 0.05em;
      text-underline-offset: 0.125em;
      text-decoration-line: underline;
      transition:
        color 0.3s ease,
        text-decoration 0.3s ease;
    }
  }

  img {
    max-width: 960px;
    max-height: 80vh;
  }

  h2 {
    width: 100%;
    padding-bottom: 0.25rem;
    font-size: 1.375rem;
    line-height: 1;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.125em;
    text-decoration-color: transparent;
    transition:
      color 0.3s ease,
      text-decoration 0.3s ease;

    @include bp("medium") {
      font-size: 1.5rem;
    }
  }

  &__header {
    padding-bottom: 2rem;

    h2 {
      padding: 0.5rem 0;
    }

    &__subheader {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.5rem;
      padding: 1rem 0;
      color: black;

      * {
        padding: 0 !important;
      }

      h3 {
        font-size: 1.75rem;
        color: black;
        font-weight: 300;
      }

      h4 {
        padding-bottom: 0.5rem;
        font-size: 1.25rem;
        color: black;
      }

      &--radar {
        h2 {
          font-family: mobley-serif, serif;
          font-size: 3rem;
          font-weight: 400;
          color: black;
        }
      }
    }
  }

  &__gradient {
    background: linear-gradient(
      130deg,
      rgba(7, 13, 26, 0.6),
      rgba(11, 27, 47, 0.6),
      rgba(13, 44, 70, 0.3),
      rgba(18, 93, 108, 0.1),
      rgba(16, 119, 146, 0),
      rgba(13, 150, 165, 0),
      rgba(9, 184, 180, 0),
      rgba(4, 204, 177, 0)
    );
  }

  .project {
    width: 100%;
    padding: 0 0 3rem;

    @include bp("small") {
      padding: 0 0 5rem;
    }

    a:hover {
      cursor: pointer;

      // img {
      //   filter: invert(1);
      //   transition: filter 0.7s ease;
      // }

      h2 {
        color: #00f3ff;
        text-decoration-color: #00f3ff;
        transition:
          color 0.3s ease,
          text-decoration 0.6s ease;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      filter: invert(0);
      transition: filter 0.7s ease;
      transform: translateZ(0);

      + h2 {
        padding-top: 1.5rem;
      }

      &--gossamer {
        width: 100%;

        @include bp("small") {
          width: auto;
        }
      }

      &--nysee-qrCode {
        width: 100%;
        max-width: 512px;
        height: auto;
      }
    }

    &__description {
      width: 100%;
      max-width: 720px;
      padding-top: 0;

      &--no-date {
        > p {
          padding-top: 0.5rem;
        }
      }
    }

    &__date {
      padding: 0.5rem 0;
      color: #a8a8a8;
    }
  }

  .fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: none;
    max-height: none;
    object-fit: none;
    object-position: 58% 91%;
    transform: scaleX(-1);
    transform: scaleY(-1);
    transform: none;
    z-index: -1;

    @include bp("medium") {
      object-fit: cover;
      transform: none;
    }
  }
}
