@import "mixins";
@import "gossamer";
@import "homepage";
@import "project";
@import "scopus-ex-machina";
@import "typography";
@import "vcard";

* {
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #121212;
}

img {
  display: block;
}
